@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Source+Code+Pro');


body{
    background: rgb(15,15,20);
}
h1{
    margin: 15% 0 0 0;
    width: 100%;
    text-align: center;
    font-size: 750%;

    background: rgba(10,10,10,0.25);
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-weight: normal;
}

#gitHubDiv{
    right: 50px;

    background-color: #F54D27;
    border-radius: 50%;
}

#gitHubDiv img{
    top: 3px;
    left: 3px;
}

#resumeDiv{
    left: 50px;
}

#resumeDiv img{
    left: -11px;
    filter: invert(0);
}

.cornerDiv{
    position: absolute;
    bottom: 50px;
    width: 128px;
    height: 128px;

    transition: transform 0.5s;
}

.cornerDiv img{
    width: 95%;
    position: relative;
    transition: filter 0.5s;

}

.cornerDiv:hover{
    transform: scale(1.2);
}

.cornerDiv:hover img{
    filter: invert(100%);
}


#resumeDiv:hover:after{
    content: "Resume";

    border-left: 5px solid;

    border-color:#1573D0;
    color: #1573D0;
}

#resumeDiv:hover:before{
    left: 88%;
    border-left-width: 0;

    border-color: transparent #1573D0;
}

#gitHubDiv:hover:after{
    content: "GitHub";

    left: -175px;
    border-right: 5px solid;

    text-align: right;
    border-color: #F54D27;
    color: #F54D27;
}

#gitHubDiv:hover:before{
    left: -22%;
    border-right-width: 0;

    border-color: transparent #F54D27;
}

.cornerDiv:hover:after{
    width: 125px;
    position: absolute;
    top: 40px;

    border-radius: 1px;
    padding: 10px 5px;
    font-size: 125%;

    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
    font-variant: small-caps;
}


.cornerDiv:hover:before{
    content: "";
    position: absolute;
    top: 50px;
    border: 10px solid;
}


