h1{
    font-size: 300%;
    text-indent: .5em;
}

@media (max-width: 475px) {
    h1{
        font-size: 250%;
    }
}
@media (max-width: 400px) {
    h1{
        font-size: 200%;
    }
}

@media (max-width: 350px) {
    h1{
        font-size: 175%;
    }
}

#showcase{
    width: 100%;
    height: auto;

    margin-top: 200px;
}

#showcase li{
    width: 250px;
    margin: 10px auto;
    float: none;
}

.cornerDiv{
    display: block;
    position: absolute;
    top: 70px;
    float: none;
    width: 100px;
    height: 100px;

    margin: 0;
}

#resumeDiv:after{
    left: -10px;
}

#gitHubDiv:after{
    left: -30px;
}

#resumeDiv{
    margin-left: 15px;
}

#gitHubDiv{
    margin-right: 15px;
    padding: 0 2px 2px 0
}

#contactContent{
    width: 100vw;
}

#contactInfo{
    font-size: 200%;
}

@media (max-width: 340px) {
    #contactInfo{
        font-size: 175%;
    }
}

.rain{
    display: none;
}

.contactLabel{
    display: none;
}

#contactTab{
    margin-top: 20px;
}